body{
    background-color: slategray;
}
.box{
    border: 8px solid red;
    display: inline-block;
    border-radius: 25px;
    width: 35%;
    height: 160px;
    text-align: center;
    color:darkmagenta;
    text-shadow: 15px;
    box-shadow: 7px 7px 0px blueviolet;
    font-size: small;
    text-decoration:rebeccapurple;
    margin-left: 30%;
    background-color: white;
}
.mcard{
    border: 5px solid green;
    width: 99%;
    height: 510px
}
.card{
    display: inline-block;
    border: 5px solid red;
    border-radius: 5%;
    width: 15%;
    height: 200px;
    text-align: center;
    background-color: white;
    color:rebeccapurple;
    text-shadow: 35%;
    box-shadow: 7px 7px 0px blueviolet;
    text-shadow: 1px 0px rebeccapurple;
    font-size: large;
}
.card1{
    display: inline-block;
    border: 5px solid red;
    border-radius: 5%;
    width: 15%;
    height: 200px;
    text-align: center;
    background-color: white;
    color:rebeccapurple;
    text-shadow: 35%;
    box-shadow: 7px 7px 0px blueviolet;
    text-shadow: 1px 0px rebeccapurple;
    font-size: large;
    margin-left: 65%;
    margin-bottom: 2%;
}
img{
    width: 80%;
    height: 150px;
    margin-top: 12%;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
.card2{
    display: inline-block;
    border: 5px solid red;
    border-radius: 5%;
    width: 18%;
    height: 200px;
    background-color: white;
    color:rebeccapurple;
    text-shadow: 35%;
    box-shadow: 7px 7px 0px blueviolet;
    text-shadow: 1px 0px rebeccapurple;
    font-size: 15px;
}
.card3{
    display: inline-block;
    border: 5px solid red;
    border-radius: 5%;
    width: 18%;
    height: 200px;
    text-align: center;
    background-color: white;
    color:rebeccapurple;
    text-shadow: 100%;
    box-shadow: 7px 7px 0px blueviolet;
    text-shadow: 2px 0px rebeccapurple;
    font-size: large;
    margin-left: 58%;
    margin-bottom: 2%;
}
button{
    background-color: rgb(125, 15, 33);
    border-radius: 50px;
    display: inline-block;

}
.bottom {
    display: flex;
    border: 5px solid red;
    border-radius: 15px;
    width: 40%;
    height: 25px;
    position: fixed;
    left: 30%;
    bottom: 20px;
    box-shadow: 7px 7px 0px blueviolet;
    background-color: greenyellow;
    color: firebrick;
    font-size: large;
   padding-bottom: 60px;
   z-index: 1;
  }
  .bottom1{
   margin-left: 20px;
   font-weight: bolder;
   font-size: x-large;
  }
  .bottom2{
    margin-left: 20px;
   font-weight: bolder;
   font-size:large;
  }
  .bottom3{
    margin-left: 380px;
  }
  .container{
    display: inline-block;
    border: 5px solid darkmagenta;
    width: 60%;
    height: 600px;
    text-align: center;
    background-color: green;
    margin-left: 20%;
    position: relative;
    top: 15px;
  }
  .box1{
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 250px;
    background-color: khaki;
    font-size: small;
    left: 0%;
    text-align: center;
   
  }
.box2{
    position: absolute;
    display: inline-block;
    width: 49%;
    height: 250px;
    background-color: khaki;
    font-size:small;
    right: 0%;
    text-align: center;
    /* line-height: 45px; */
}
.box3{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 250px;
    background-color: khaki;
    font-size: small;
    left: 0%;
    bottom: 0px;
    text-align: center;
    line-height: 45px;
    padding-bottom: 20px;
}
