body{
    background-color: gold;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
/* for 1st page CSS Here*/
#mbox{
    display: flex;
    width: 100%;
    height: 135px;
    float: right;
    justify-content: center;
}
.box{
    background-color: rgb(23, 95, 167);
    width: 100px;
    height: 100px;
    margin: 30px;
    animation-name:box;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes box{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(30deg);
    }
   
}
#mbox1{
    display: flex;
    width: 100%;
    height: 135px;
    float: right;
    justify-content: center;
}
.box1{
    background-color: rgb(226, 61, 226);
    width: 100px;
    height: 100px;
    margin: 30px;
    animation-name:box1;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes box1{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(-30deg);
    }
}
#mbox2{
    display: flex;
    width: 100%;
    height: 135px;
    float: right;
    justify-content: center;
}
.box2{
    background-color:rgb(44, 128, 156);
    width: 100px;
    height: 100px;
    margin: 30px;
    animation-name:box2;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes box2{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#mbox3{
    display: flex;
    width: 100%;
    height: 135px;
    float: right;
    justify-content: center;
}
.box3{
    background-color:rgb(44, 128, 156);
    width: 100px;
    height: 100px;
    margin: 30px;
    border: 2px solid rgb(44, 128, 156);
    animation-name:box3;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
@keyframes box3{
    0%{
        transform: rotatey(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
}
/* for Row 4 and box 2nd and 3rd */
.box4{
    background-color:rgb(44, 128, 156);
    width: 100px;
    height: 100px;
    margin: 30px;
    border: 2px solid rgb(44, 128, 156);
    animation-name:box4;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes box4{
    0%{
        transform: rotatex(0deg);
    }
    25%{
        transform: rotatey(180deg);
    }
    50%{
        transform: rotatey(60deg);
    }
}
.box5{
    background-color:rgb(44, 128, 156);
    width: 100px;
    height: 100px;
    margin: 30px;
    border: 2px solid rgb(44, 128, 156);
    animation-name:box5;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes box5{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-60deg);
    }
    50%{
        transform: rotate(75deg);
    }
}
/* for 2nd page CSS here*/
#mdiv{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-left: 500px;
}
.cdiv{
    display: flex;
    background-color: rgb(13, 165, 13);
    width: 100px;
    height: 100px;
    margin: 10px;
    transition-duration: 2s;
}
.cdiv:hover{
            width: 300px;
}
.cdiv1{
    display: flex;
    background-color: rgb(13, 165, 13);
    width: 100px;
    height: 100px;
    margin: 10px;
    transition-duration:5s;
}
.cdiv1:hover{
    width: 300px;
    height: 300px;
}
.cdiv2{
    display: flex;
    background-color: rgb(13, 165, 13);
    width: 100px;
    height: 100px;
    margin: 10px;
    transition-duration:5s;
}
.cdiv2:hover{
    width: 300px;
}
.cdiv3{
    display: flex;
    background-color: rgb(13, 165, 13);
    width: 100px;
    height: 100px;
    margin: 10px;
    transition-duration:2s;
}
.cdiv3:hover{
    width: 300px;
}
.cdiv4{
    display: flex;
    background-color: rgb(13, 165, 13);
    width: 100px;
    height: 100px;
    margin: 10px;
    transition-duration:5s;
}
.cdiv4:hover{
    width: 300px;
}
.cdiv5{
    display: flex;
    background-color: rgb(13, 165, 13);
    width: 100px;
    height: 100px;
    margin: 10px;
    transition-duration:3s;
}
.cdiv5:hover{
    width: 300px;
}
.cdiv6{
    display: flex;
    background-color: rgb(13, 165, 13);
    width: 100px;
    height: 100px;
    margin: 10px;
    transition-duration:2s;
}
.cdiv6:hover{
    width: 300px;
}
/* for 3rd page CSS Here*/
#p3main{
    background-image: url(./img/sky.jpg);
    background-size: cover;
    height: 720px;
    overflow: hidden;
    border-left: 10px solid blue;
    border-right:10px solid green;
    border-style:groove ;
}
.HID{
    font-size: 64px;
}
.sun{
    position: absolute;
    top: 100px;
    left: 80%;
    animation-name: sun;
    animation-iteration-count: infinite;
    animation-duration: 50s;
    animation-timing-function: linear;
}
 @keyframes sun {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(-1300px);
    } 
  } 
.city{
    background-image: url(./img/city.png);
    width: 1000%;
    height: 250px;
    margin-top: 35px;
    background-repeat: repeat-x;
    animation-name: city;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes city{
    100% {
      transform: translateX(-1500px);
    }
  }
.road{
    background-image: url(./img/road.jpg);
    width: 1000%;
    height: 100%;
    background-repeat: repeat-x;
    animation-name: road-ani;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
 @keyframes road-ani {
    100% {
      transform: translateX(-1500px);
    }
  }
  .flag{
    position: absolute;
    top: 285px;
    width: 580px;
    height: 200px;
    margin-left: 385px;
}
.car{
    position: absolute;
    width: 500px;
    height: 200px;
    top: 145px;
    left: 15%;
}
.wheel{
    position: absolute;
    top: 400px;
    left: 25%;
    animation-name: wheel-ani;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
}
@keyframes wheel-ani{
    100% {
      transform: rotate(360deg);
    }
  }
.wheel1{
    position: absolute;
    top: 400px;
    left: 49%;
    animation-name: wheel1-car;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
}
@keyframes wheel1-car{
    100% {
        transform: rotate(360deg);
    }
}

